.root {
  margin: 0 0 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.active {
  background-color: var(--color-light-300);
}

.containerButton {
  display: flex;
  align-items: center;
  gap: 5px;
}
